$bullpenred: #DE1B1B;
$white: #FFF;

.favorite {
  padding: 10px;

  ul {
    list-style-type: none;
  }
$animation-duration: 0.25s;

.animate-inventory {
  &.ng-enter {
    animation: zoomInUp 0.5s;
  }
  &.ng-leave {
    animation: zoomOutDown 0.5s;
  }
}

.animate-favorite {
  &.ng-enter {
    animation: fadeInRight 1s;
  }
  &.ng-leave {
    animation: fadeOutLeft 1s;
  }
}

}
.btn-team {
        color:$white;
        min-height:20px;
        border-radius:30px;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
        padding:5px 10px 5px 10px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        margin:25px 5px 5px 0px;
}

/* =========================== */
/* Twitter Bootstrap Overrides */
/* =========================== */

.list-group-item {
  border: none;
}

.dl-horizontal dt {
    text-align: left;
    /*margin-bottom: 1em;*/
    /*width: auto;*/
    padding-right: 1em;
}

.dl-horizontal dd {
    margin-left: 0;
    margin-bottom: 1em;
}
/* ================================== */
/* End of Twitter Bootstrap Overrides */
/* ================================== */

.teams {
  padding-left: 0;
  padding-right: 10px;
}

.teams p {
  font-size: 2.0rem;
  margin-left: 20px;
}

.team h3 {
  color: $bullpenred;
}

.team {
  margin-top: 30px;
}

.team h2 {
  margin-bottom: 20px;
}

.team-image {
  margin-top: 0px;
  margin-left: 20px;
  height: 204.8px;
  width: 273px;
}


.back {
  margin-top: 20px;
}

.search {
  text-align: center;
}
