<!-- Bull Pen Column -->
<div class="col-sm-3 col-md-2 favorite sidebar" style="position:fixed; right:0">
  <section>
    <ul>
        <li ng-show="ctrl.isLoggedIn()" ng-class="{active: isActive('/settings')}"><a class="favorite" href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="ctrl.isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="/" ng-click="logout()">Logout</a></li>
    </ul>
    <h2>Bull Pen</h2>
      <ul>
          <a ng-click="ctrl.goTeam(team)" class="list-group-team">
            <li class="favorite animate-favorite" ng-repeat="team in ctrl.favorite">
          {{team.team.name}}</a>
      <button class="btn btn-danger btn-xs" ng-click="ctrl.removeTeam(team)">Remove Team</button>
          </li>
      </ul>
      <br>
      <button class="btn btn-sm btn-team" ng-click="ctrl.clearFavorite()">Clear Bull Pen</button>
      <br>
</div>

<!-- Team View -->
<section class="container-fluid item">
  <div class="row">
    <h2 class="text-center">{{ ctrl.team.name }}</h2>
    <h2 class="text-center"> <img width=20% height=20% ng-src="/assets/images/{{ctrl.team.imageFile}}"/></h2>
    <div class="col-md-4 col-md-offset-4">
      <dl class="dl-horizontal">
        <dt>Category:</dt>
            <dd>{{ ctrl.team.category }}</dd>
        <dt>Description:</dt>
            <dd>{{ ctrl.team.description }}</dd>
      </dl>
      <div>
        <a class="twitter-timeline" ng-href="{{ctrl.team.twitter}}" data-widget-id="{{ctrl.team.dataId}}" width="800">#{{ctrl.team.name}}</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="back">
        <button type="button"
                class="btn btn-md btn-team"
                onclick="window.history.back()">Back</button>
      </div>
      </div>
      </div>
</section>

  </div>
</section>
